<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <title>CHAG Mentor Mothers Report Portal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <link rel="stylesheet" href="/static/fonts/iconsminds.css">
    <link rel="stylesheet" href="/static/fonts/simple-line-icons.css">
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.rtl.only.min.css">
    <link rel="stylesheet" href="/static/css/vendor/bootstrap-float-label.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/dore.light.bluenavy.min.css" />
    <link rel="stylesheet" href="/static/css/vendor/component-custom-switch.min.css">
    <link rel="stylesheet" href="/static/css/vendor/perfect-scrollbar.css">

</head>

<body id="app-container" class="menu-default show-spinner">
  {% include 'extras/navbar.html' %}
    <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li class="active"><a href="#"><i class="iconsminds-shop-4"></i> <span>Home</span></a></li>
                    <li><a href="{% url 'reports' %}"><i class="iconsminds-digital-drawing"></i> Reports</a></li>
                    {% comment %} <li><a href="#applications"><i class="iconsminds-air-balloon-1"></i> Applications</a></li>
                    <li><a href="#ui"><i class="iconsminds-pantone"></i> UI</a></li>
                    <li><a href="#menu"><i class="iconsminds-three-arrow-fork"></i> Menu</a></li>
                    <li><a href="Blank.Page.html"><i class="iconsminds-bucket"></i> Blank Page</a></li>
                    <li><a href="https://dore-jquery-docs.coloredstrategies.com" target="_blank"><i
                                class="iconsminds-library"></i> Docs</a></li> {% endcomment %}
                </ul>
            </div>
        </div>
    </div>
    </div>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Welcome</h1>
                    <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                        <ol class="breadcrumb pt-0">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active"><a href="#">Stats</a></li>
                        </ol>
                    </nav>
                    <div class="separator mb-5"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4 progress-banner" style="background: red;">
                        <div class="card-body justify-content-between d-flex flex-row align-items-center">
                            <div><i class="iconsminds-clock mr-2 text-white align-text-bottom d-inline-block"></i>
                                <div>
                                    <p class="lead text-white">5 Reports</p>
                                    <p class="text-small text-white">Rejected</p>
                                </div>
                            </div>
                            <div>
                                <div role="progressbar" class="progress-bar-circle progress-bar-banner position-relative" data-color="white"
                                 data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="9" aria-valuemax="12" 
                                 data-show-percent="false"><svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                                        <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"
                                            stroke="rgba(255,255,255,0.2)" stroke-width="4" fill-opacity="0"></path>
                                        <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="white"
                                            stroke-width="4" fill-opacity="0"
                                            style="stroke-dasharray: 301.635, 301.635; stroke-dashoffset: 175.954;">
                                        </path>
                                    </svg>
                                    <div class="progressbar-text" 
                                    style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: white;">
                                        9/12</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between d-flex flex-row align-items-center">
                            <div><i class="iconsminds-male mr-2 text-white align-text-bottom d-inline-block"></i>
                                <div>
                                    <p class="lead text-white">4 Reports</p>
                                    <p class="text-small text-white">Awaiting approval</p>
                                </div>
                            </div>
                            <div>
                                <div role="progressbar" class="progress-bar-circle progress-bar-banner position-relative" data-color="white" data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="4" aria-valuemax="6" data-show-percent="false"><svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                                        <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"
                                            stroke="rgba(255,255,255,0.2)" stroke-width="4" fill-opacity="0"></path>
                                        <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="white"
                                            stroke-width="4" fill-opacity="0"
                                            style="stroke-dasharray: 301.635, 301.635; stroke-dashoffset: 100.545;">
                                        </path>
                                    </svg>
                                    <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: white;">
                                        4/6</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4 progress-banner" style="background: green;">
                        <a href="#" class="card-body justify-content-between d-flex flex-row align-items-center">
                            <div><i class="iconsminds-bell mr-2 text-white align-text-bottom d-inline-block"></i>
                                <div>
                                    <p class="lead text-white">8 Reports</p>
                                    <p class="text-small text-white">Approved</p>
                                </div>
                            </div>
                            <div>
                                <div role="progressbar" class="progress-bar-circle progress-bar-banner position-relative" data-color="white" data-trail-color="rgba(255,255,255,0.2)" aria-valuenow="8" aria-valuemax="10" data-show-percent="false"><svg viewBox="0 0 100 100" style="display: block; width: 100%;">
                                        <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96"
                                            stroke="rgba(255,255,255,0.2)" stroke-width="4" fill-opacity="0"></path>
                                        <path d="M 50,50 m 0,-48 a 48,48 0 1 1 0,96 a 48,48 0 1 1 0,-96" stroke="white"
                                            stroke-width="4" fill-opacity="0"
                                            style="stroke-dasharray: 301.635, 301.635; stroke-dashoffset: 60.3271;">
                                        </path>
                                    </svg>
                                    <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: white;">
                                        8/10</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
   {% include 'extras/footer.html' %}
    <script src="/static/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/static/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/static/js/vendor/perfect-scrollbar.min.js"></script>
    <script src="/static/js/vendor/mousetrap.min.js"></script>
    <script src="/static/js/dore.script.js"></script>
    <script src="/static/js/scripts.single.theme.js"></script>
</body>

</html>